.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem
}

.app {
    margin-bottom: 215px;
    position: relative
}

.app h1 {
    font-size: 48px;
    font-weight: 800;
    margin: auto;
    max-width: 1024px;
    padding: 20px
}

.book-create {
    background-color: #00d1b2;
    bottom: 0;
    padding: 20px 40px 30px;
    position: fixed;
    width: 100%
}

.book-create h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700
}

.book-create form {
    align-items: flex-start;
    display: flex;
    flex-direction: column
}

.book-create form input {
    margin-bottom: 5px
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1024px
}

@media screen and (max-width:960px) {
    .book-list {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
        max-width: 1024px
    }
}

.book-show {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px
}

.book-edit {
    align-items: flex-start;
    display: flex;
    flex-direction: column
}

.book-edit button {
    margin: 10px 0
}

.book-show {
    align-self: flex-start;
    box-shadow: 0 0 4px #c8c8c8;
    position: relative
}

@media screen and (max-width:961px) {
    .book-show {
        align-self: center
    }
}

.book-show h3 {
    font-size: 24px
}

.book-show .actions {
    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 5px
}

.book-show img {
    margin-top: 10px;
    width: 100%
}

.book-show button {
    margin-right: 5px
}

.book-show .edit {
    background-color: hsla(0, 0%, 4%, .2);
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    pointer-events: auto;
    position: relative;
    vertical-align: top;
    width: 20px
}

.book-show .edit:after {
    color: #fff;
    content: "✎";
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(20deg);
    transform: translateX(-50%) translateY(-50%) rotate(20deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 20px;
    z-index: 10
}

.subtitle {
    position: absolute;
    left: 12%;
    font-size: 22px;
}